{
  "detail": "low",
  "provider": "ollama",
  "watchdir": null,
  "outdir": null,
  "prompt": "Suggest a short and concise file name in 1-3 words.\nIf you can identify the software or website being used, add that as part of the new name.\nFor example, terminal, youtube, photoshop, etc.\nDo not include file extension such as .png, .jpg or .txt. Use dash to connect words.",
  "fileNameRegex": "/^Screenshot.*\\.png$/i",
  "categories": {
    "code": "the majority of the text is computer code",
    "reference": "the image is a photograph",
    "text": "the image is text-heavy paragraph(s)",
    "web": "the image shows a webpage",
    "youtube": "the image has youtube interface",
    "other": "the image doesn't belong to other categories"
  },
  "ollama": {
    "baseURL": "http://localhost:11434/v1/",
    "model": "llava",
    "maxTokens": 30
  },
  "openai": {
    "baseURL": "https://api.openai.com/v1",
    "model": "gpt-4o-mini",
    "maxTokens": 30
  }
}
